body{
	font: 24px helvetica, arial, sans-serif;
	background-color: black;
	color: white;
}

input, button{
    vertical-align:middle;
    font-size: inherit;
    text-align: center;
}

div{
	border: 5px solid green;
	text-align: center;
 }

#container{
	width: 600px;
	margin: auto;
}

 #boardDiv{
 	font-size: 24px;
 	width: 50%;
 	height:200px;
 	box-sizing: border-box;
 	float: left;
 	line-height: 200px;
 	letter-spacing:6px;
 	border-left: 0;
    border-right: 0;
    border-bottom: 0;
 }

 #gallowsDiv{
 	width: 50%;
 	height:200px;
 	box-sizing: border-box;
 	float: left;
    border-right: 0;
    border-bottom: 0;
}

#beware{
	padding-top:50px;
}

 #uiDiv{
 	clear: both;
 	border-left: 0;
    border-right: 0;
    border-bottom: 0;
 }

.gallowsImage{
	margin: 20px 65px 20px 0;
}
